<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bemad.bcarlson.memer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Memer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".OldMainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".OldLoginActivity" />
        <activity
            android:name=".OldSettingsActivity"
            android:parentActivityName=".OldMainActivity" />
        <activity
            android:name=".matches.MatchesActivity"
            android:parentActivityName=".OldMainActivity" />
        <activity
            android:name=".chat.ChatActivity"
            android:parentActivityName=".matches.MatchesActivity" />
        <activity android:name=".TestingActivity" />
        <activity
            android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SubmitMemeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".comments.MemeClickActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".friends.FriendsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".friends.AddFriendActivity"
            android:parentActivityName=".friends.FriendsActivity"/>
    </application>

</manifest>