<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bemad.bcarlson.tinder_clone">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TinderClone"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bemad.bcarlson.tinder_clone.MainActivity"
            android:parentActivityName="com.bemad.bcarlson.tinder_clone.LoginRegistrationActivity" />
        <activity android:name="com.bemad.bcarlson.tinder_clone.LoginRegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bemad.bcarlson.tinder_clone.RegistrationActivity"
            android:parentActivityName="com.bemad.bcarlson.tinder_clone.LoginRegistrationActivity" />
        <activity
            android:name="com.bemad.bcarlson.tinder_clone.LoginActivity"
            android:parentActivityName="com.bemad.bcarlson.tinder_clone.LoginRegistrationActivity" />
        <activity
            android:name="com.bemad.bcarlson.tinder_clone.SettingsActivity"
            android:parentActivityName="com.bemad.bcarlson.tinder_clone.MainActivity" />
        <activity
            android:name="com.bemad.bcarlson.tinder_clone.matches.MatchesActivity"
            android:parentActivityName="com.bemad.bcarlson.tinder_clone.MainActivity" />
        <activity android:name="com.bemad.bcarlson.tinder_clone.chat.ChatActivity"
            android:parentActivityName="com.bemad.bcarlson.tinder_clone.matches.MatchesActivity"/>
    </application>

</manifest>